/* Default Light Theme */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-color: #007bff;
  }
  
  /* Dark Theme - applied automatically if the user prefers dark mode */
  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #121212;
      --text-color: #121212;
      --primary-color: #bb86fc;
      .logoV{
        filter: invert(1);
      }
    }
  }
  
  /* Apply the variables to body, buttons, etc. */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  button {
    background-color: var(--primary-color);
    color: var(--text-color);
  }

  